.Joke {
    padding: 10px;
    margin: 10px;
    display: flex;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid rgb(212, 171, 254);
}

.Joke-joke {
    width: 90%;
    align-content: flex-start;
}

.Joke-rating  {
    align-content: flex-end;
    margin-left: auto;
    align-items: center;
}